[submodule "ch3/blastpy"]
	path = ch3/blastpy
	url = https://github.com/swkim01/blastpy.git
[submodule "ch4/rest"]
	path = ch4/rest
	url = https://github.com/swkim01/rest.git
[submodule "ch6/py-spidev"]
	path = ch6/py-spidev
	url = https://github.com/doceme/py-spidev.git
[submodule "ch6/waveshare-dtoverlays"]
	path = ch6/waveshare-dtoverlays
	url = https://github.com/swkim01/waveshare-dtoverlays
[submodule "ch7/adafruit-pi-cam"]
	path = ch7/adafruit-pi-cam
	url = https://github.com/adafruit/adafruit-pi-cam.git
[submodule "ch8/rccar"]
	path = ch8/rccar
	url = https://github.com/swkim01/rccar.git
[submodule "ch9/RTIMULib"]
	path = ch9/RTIMULib
	url = https://github.com/swkim01/RTIMULib.git
[submodule "ch10/pyFirmata"]
	path = ch10/pyFirmata
	url = https://github.com/tino/pyFirmata.git
[submodule "ch12/webiopi/webiopi-dht"]
	path = ch12/webiopi/webiopi-dht
	url = https://github.com/swkim01/webiopi-dht.git
[submodule "ch12/telegram/python-telegram-bot"]
	path = ch12/telegram/python-telegram-bot
	url = https://github.com/leandrotoledo/python-telegram-bot.git
[submodule "fritzing"]
	path = fritzing
	url = https://github.com/swkim01/fritzing.git
[submodule "ch6/Adafruit_Python_CharLCD"]
	path = ch6/Adafruit_Python_CharLCD
	url = https://github.com/adafruit/Adafruit_Python_CharLCD
[submodule "ch6/Adafruit_Python_DHT"]
	path = ch6/Adafruit_Python_DHT
	url = https://github.com/adafruit/Adafruit_Python_DHT
[submodule "ch6/Adafruit_Python_GPIO"]
	path = ch6/Adafruit_Python_GPIO
	url = https://github.com/adafruit/Adafruit_Python_GPIO
[submodule "ver1/ch8/urobot"]
	path = ver1/ch8/urobot
	url = https://github.com/swkim01/urobot
[submodule "ch10/ble"]
	path = ch10/ble
	url = https://github.com/swkim01/ble
[submodule "ch11/mqtt"]
	path = ch11/mqtt
	url = https://github.com/swkim01/mqtt
[submodule "ver1/ch12/telegram/pytg"]
	path = ver1/ch12/telegram/pytg
	url = https://github.com/luckydonald/pytg.git
[submodule "ver1/ch13/GreenHouse"]
	path = ver1/ch13/GreenHouse
	url = https://github.com/swkim01/GreenHouse
